@font-face {
    font-family: 'Open Sauce';
    src: url('fonts/OpenSauceSans-Regular.ttf') format('truetype');
}

:root {
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --primary-soft-text-color: #555;
    --primary-color: #fff;
    --secondary-color: #7db82f;
    --button-color: #fdc90b;
    --button-hover-color: #fae67b;
    --restart-button-color: #5c9dff;
    --cheat-button-color: #ff5c5c;
    --header-color: #ffd700;
    --cell-border-color: #999;
    --hidden-cell-color: #ccc;
}

body {
    font-family: 'Open Sauce', sans-serif;
    background-color: var(--primary-color);
    display:block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/jogo.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: var(--secondary-color);
}

header {
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0; 
    z-index: 1000;
}

.btn {
    background-color: var(--button-color);
    color: var(--primary-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.voltar {
    background-color: var(--button-color);
    color: var(--primary-text-color);
}

.reiniciar {
    background-color: var(--restart-button-color);
    color: var(--secondary-text-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: calc(100vh - 60px); 
    padding: 10px;
    margin-top: 20px; 
}

/*parte do jogo*/
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#game {
    background-color: transparent; 
    border-radius: 8px;
    width: 400px; 
    margin: 0 auto; 
}

/*tabuleiro*/
#game-board {
    display: grid; 
    grid-template-columns: repeat(auto-fill, calc(400px / var(--columns)));
    grid-template-rows: repeat(auto-fill, calc(400px / var(--rows)));
    width: 400px;
    height: 400px;
}

/*celulas do tabuleiro*/
.cell {
    background-color: var(--hidden-cell-color); 
    border: 1px solid var(--cell-border-color); 
    aspect-ratio: 1; 
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    transition: background-color 0.1s ease;
}

.cell.revealed {
    background-color: var(--button-hover-color); 
    cursor: default;
}

.cell.number {
    font-weight: bold;
}

.cell.number-1 {
    color: #38b6ff; 
}

.cell.number-2 {
    color: #7fb82f; 
}

.cell.number-3 {
    color: #ff3131; 
}

.cell.number-4 {
    color: #9531ff; 
}

.cell.number-5 {
    color: #ff31b0; 
}

.cell.number-6 {
    color: #35d3a9; 
}

.cell.number-7 {
    color: #fc9d22; 
}

.cell.number-8 {
    color: #7b4d2c; 
}

/*parte de informações do jogo*/
.game-info {
    background-color: var(--primary-color);
    padding: 20px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 200px; 
}

.game-info p {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 2;
    text-align: left;
    color: var(--primary-soft-text-color);
}


.game-info span {
    font-size: 1.0rem;
    color: rgb(0, 0, 0);
}

.game-actions {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
}

.game-actions .btn {
    display: block;
    margin: 10px 0;
}

.cheat {
    background-color: var(--cheat-button-color);
    color: var(--secondary-text-color);
}

.game-links a {
    display: block;
    margin: 10px 0;
}


/*section RANKING - segunda*/
.ranking{
    background-image: url('../images/ranking.png');
    width: 100%;
    color: var(--primary-text-color);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 

}
.ranking-section {
    margin-top: 200px;
    margin-bottom: 15px;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}
.ranking-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0; 
}
.ranking-section img {
    width: 50px;
    height: auto;
}

/*tabela de historico*/
.leaderboard-container {
    width: 700px; 
    border-radius: 5px; 
    margin-right: 30px;
}
.leaderboard-table {
    width: 100%; 
    border-collapse: collapse; 
}
.leaderboard-table th, .leaderboard-table td {
    padding: 10px;
    text-align: center; 
}
.leaderboard-table th {
    background-color: var(--header-color);
    color: var(--primary-text-color);
}
.leaderboard-table td {
    background-color: var(--primary-color);
    color: var(--primary-text-color); 
}


/* Estilo adicional para o tempo em destaque */
.time-container {
    background-color: var(--button-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 30px;
    margin: 20px;
    
}

.time-container p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container{
    padding-left: 200px;
    padding-right: 200px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.historico{
    padding-block-end: 50px;
}
