:root {
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --primary-soft-text-color: #555;
    --primary-color: #fff;
    --secondary-color: #7db82f;
    --button-color: #fdc90b;
    --button-hover-color: #fae67b;
    --input-error-color: red;
}

body {
    font-family: 'Open Sauce', sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/login.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.cadastro-container,
.login-container {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.login-container {
    width: 300px;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    box-sizing: border-box;
}

input.input-error {
    border-color: var(--input-error-color);
}

.error-message {
    color: var(--input-error-color);
    font-size: 0.9em;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.form-group-row .form-group {
    flex: 1;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.container {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    color: var(--primary-soft-text-color);
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.btn {
    background-color: var(--button-color);
    color: var(--primary-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--button-hover-color);
}