@font-face {
    font-family: 'Open Sauce';
    src: url('fonts/OpenSauceSans-Regular.ttf') format('truetype');
}


:root {
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --primary-soft-text-color: #555;
    --primary-color: #fff;
    --secondary-color: #7db82f;
    --button-color: #fdc90b;
    --button-hover-color: #fae67b;
    --restart-button-color: #5c9dff;
    --cheat-button-color: #ff5c5c;
    --header-color: #ffd700;
    --cell-border-color: #999;
    --hidden-cell-color: #ccc;
}


body {
    font-family: 'Open Sauce', sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/login.png');
    background-size: cover; 
    background-repeat: no-repeat;
}

.login-container {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.cadastro-container {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.perfil-container {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.form-group-row .form-group {
    flex: 1;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

/* Centraliza o botão horizontalmente no contêiner pai */
.container {
    text-align: center; /* Adiciona centralização ao conteúdo do contêiner */
}

.btn {
    background-color: var(--button-color);
    color: var(--primary-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block; /* Garante que o botão seja tratado como um bloco em linha */
}

.btn:hover {
    background-color: var(--button-hover-color);
}


.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    color: #818181;
    text-decoration: none;
}
