body {
    font-family: 'Open Sauce', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('imagens/bomba.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

header {
    background-color: transparent; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none; 
}


.btn {
    background-color: #fdc90b;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.btn:hover {
    background-color: #fae67b;
}

.sair {
    background-color: #fdc90b; 
    color: black;
    padding: 5px 10px; 
    font-size: 14px; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #fdc90b;
    font-size: 3em;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.option-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.option-card:hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
}
.option-card input {
    display: none;
}

.option-card label {
    font-weight: bold;
}

.options h2 {
    margin-bottom: 10px;
}

.play-container {
    margin-top: 30px;
}

.jogar {
    background-color: #fdc90b;
    color: #000000;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
}

.jogar::before {
    content: '▶';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
