@font-face {
    font-family: 'Open Sauce';
    src: url('fonts/OpenSauceSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sauce', sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

/* parte do nav */
nav {
    width: 100%;
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}
/*botão para sair*/
nav .btn-sair {
    background-color: #fdc90b;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
nav .btn-sair:hover {
    background-color: #fae67b;
}
nav .sair {
    position: absolute;
    top: 20px;
    right: 20px;
}
/*imagem do logo*/
.imagem-absoluta {
    position: absolute;
    top: 0;    
    left: 0;   
    margin: 20px;
    height: auto;
    width: 130px;
}
/*botões centralizados*/
nav .button-container {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    width: 100%; 
    margin-top: 10px;
}
nav .btn {
    background-color: #fdc90b;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
}
nav .btn:hover {
    background-color: #fae67b;
}


/*section WELCOME - inicial*/
.welcome-section {
    margin-top: 10px; 
    text-align: left;  
    width: 100%; 
    padding-left: 50px; 
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    background-image: url('imagens/fundo_index.png');
    background-size: contain;
    border: 2px solid blue;
    background-repeat: no-repeat;
    background-position: right;
    
}
.welcome-section h1 {
    font-size: 3rem; 
    font-weight: bold;
    margin-bottom: 10px; 
}
/*opções de tamanho, quantidade de bombas e modo de jogo*/
.options {
    padding-left: 60px; 
    display: flex; 
    flex-direction: column; 
    gap: 12px; 
}
.option-group {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px;
}
/*botão de jogar*/
.btn-jogar {
    display: block; 
    margin: 0 auto; 
    position: relative;
    top: -150px; 
}
.btn-jogar img {
    display: block; 
    width: 150px; 
    height: auto;
    max-width: 100%; 
    border-radius: 5px; 
    transition: opacity 0.3s ease; 
}
.btn-jogar:hover img {
    opacity: 0.8; 
}


/*section RANKING - segunda*/
.ranking{
    background-image: url('imagens/ranking.png');
    width: 100%;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 

}
.ranking-section {
    margin-top: 50px;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}
.ranking-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0; 
}
.ranking-section img {
    width: 50px;
    height: auto;
}
/*tabela de ranking*/
.leaderboard-container {
    width: 700px; 
    max-width: 100%; 
    border-radius: 5px; 
    margin-right: 30px;
}
.leaderboard-table {
    width: 100%; 
    border-collapse: collapse; 
}
.leaderboard-table th, .leaderboard-table td {
    padding: 10px;
    text-align: center; 
}
.leaderboard-table th {
    background-color: #FFD700; 
    color: black;
}
.leaderboard-table td {
    background-color: #FFFFFF; 
    color: black; 
}



/*section COMO JOGAR / MANUAL - ultima parte*/
.manual{
    background-image: url('imagens/manual.png');
    width: 100%;
    color: black;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding-block-end: 50px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #7fb82f;
}
.manual h1{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color:white;
    padding-top: 100px;
    padding-left: 30px;
}
.manual h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color:white;
    padding-left: 30px;
}
.manual ul{
    font-size: 1.3rem;
    margin: 0;
    color:white;
    padding-left: 70px;
    padding-block-end: 20px;
}
/*botão de começar*/
/*botões centralizados*/
.button-comecar {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    width: 100%; 
    margin-top: 10px;
    font-size: 2rem;
}
.btn {
    background-color: #fdc90b;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
}
.btn:hover {
    background-color: #fae67b;
}