@font-face {
    font-family: 'Open Sauce';
    src: url('fonts/OpenSauceSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sauce', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('imagens/login.png');
    background-size: cover; 
    background-repeat: no-repeat;
}

.perfil-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
